<div class="container">
  <p id="notice"></p>
  <div class="row mx-auto">
    <h4 class="text-center">役職一覧</h4>
  </div>
  <div class="row mt-2 mx-auto">
  <% @positions.each do |position| %>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
      <div class="card">
        <div class="card-body">
          <%= link_to edit_public_position_path(position.id) do %>
            <%= position.name %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <div class="row mt-3">
    <!--↓ページネーションを表示させるための記述-->
    <%= paginate @positions %>
  </div>

  <div class="row mt-2">
    <!--役職の追加欄を作成-->
    <h5>役職名追加</h5>
  </div>
  <div class="row">
    <%= form_with model: @position, url:public_positions_path,local:true do |f| %>
      <!--新規登録が失敗した際のエラーメッセージの表示記述-->
      <!--errors:モデルにバリデーションをかけた際にエラーの内容を確認できるメソッド。any?と組み合わせることで、エラーが発生しているかを判定できる-->
      <!--部分テンプレートでのエラーメッセージ表示確認-->
      <!--詳細は「app/view/layout/_error_messages.html.erb」参照-->
      <%= render 'layouts/error_messages', model: f.object %>
      &emsp;&emsp;&emsp;
      <%= f.text_field :name,placeholder:"役職名" %>
      &emsp;&emsp;&emsp;
        <%= f.submit "新規登録",class:'btn btn-success' %>
    <% end %>
  </div>
</div>