<div class="container">
  <p id="notice"></p>
  <div class="row mx-auto">
    <h4 class="text-center">部名一覧</h4>
  </div>
  <div class="row mt-2 mx-auto">
    <% @departments.each do |department| %>
    <div class = "col-sm-12 col-md-6 col-lg-4 mb-2">
      <div class="card">
        <div class="card-body">
            <%= link_to edit_public_department_path(department.id) do %>
              <%= department.name %>
            <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row mt-3">
    <!--↓ページネーションを表示させるための記述-->
      <%= paginate @departments %>
  </div>
  <div class="row mt-2">
    <!--部名の追加欄を作成-->
    <h5>部名追加</h5>
  </div>
  <div class="row">
    <!--新規登録が失敗した際のエラーメッセージの表示記述-->
    <!--errors:モデルにバリデーションをかけた際にエラーの内容を確認できるメソッド。any?と組み合わせることで、エラーが発生しているかを判定できる-->
    <% if @department.errors.any? %>
      <%= @department.errors.count %>件のエラーが発生しました
      <ul>
        <% @department.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_with model: @department, url:public_departments_path,local:true do |f| %>
      &emsp;&emsp;&emsp;
      <%= f.text_field :name,placeholder:"部名" %>
      &emsp;&emsp;&emsp;
        <%= f.submit "新規登録",class:'btn btn-success' %>
    <% end %>
  </div>
</div>