<div class="container">
  <div class="mt-5"></div>
  <div class="row mx-auto justify-content-center">
    <h4 class="text-center"><%= @staffs.full_name %>さんの詳細情報</h4>
  </div>
  <div class="row mt-5 mx-auto justify-content-center">
    <div class="col-sm-1 col-md-2 col-lg-6 mx-auto">
      <!--get_profile_image(width, height)の定義は、app/models/staff.rbを参照-->
      <div><%= image_tag @staffs.get_profile_image(500,500) %></div>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
      <!--table-borderless:テーブルの枠線をなしに指定-->
      <!---ms-writing-mode: tb-lr;writing-mode: vertical-lr;縦書き表示のコマンド-->
      <table class="table table-borderless" style="-ms-writing-mode: tb-lr;writing-mode: vertical-lr;">
        <thead class="col-4">
          <th style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">氏名</th>
          <th style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">フリガナ</th>
          <th style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">所属部名</th>
          <th style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">所属課名</th>
          <th style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">役職</th>
          <th style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">電話番号</th>
          <th style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">メールアドレス</th>
          <th style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">勤務形態</th>
          <!--is_admin?:is_adminがtrueだったらの意味。boolean型の時に使用可能-->
          <% if current_staff.is_admin? %>
          <th style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">権限フラグ</th>
          <% end %>
        </thead>
        <tbody class="col-8">
          <td style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;"><%= @staffs.full_name %></td>
          <td style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;"><%= @staffs.full_name_kana %></td>
          <td style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">
            <%= @staffs.department.name %>
          </td>
          <td style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">
            <%= @staffs.division.name %>
          </td>
          <td style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">
            <%= @staffs.position.name %>
            <%# @staff.positions.each do |position| %>
              <%# position.position_names.each do |position_name| %>
                <%#= position_name.name %>
              <%# end %>
            <%# end %>
          </td>
          <td style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;"><%= @staffs.telephone_number %></td>
          <td style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;"><%= @staffs.email %></td>
          <!--work_styleカラムは、enumを組み込んでいるため、表示の際はカラム名の後ろに「_i18n」をつけて日本顔表示化させる-->
          <td style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;"><%= @staffs.work_style_i18n %></td>
          <!--is_adminカラムは、boolean型のため、if文を使用して日本語化させる-->
          <!--is_admin?:is_adminがtrueだったらの意味。boolean型の時に使用可能-->
          <% if current_staff.is_admin? %>
          <td style="-ms-writing-mode : lr-tb; writing-mode : horizontal-tb; white-space : nowrap;">
            <!--ログインユーザが管理者権限を持っている時、表示させる-->
              <% if @staffs.is_admin? %>
                <div class= "text-success">管理者</div>
              <% else %>
                <div class="text-muted">一般</div>
              <% end %>
          </td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!--ログイン社員のIDが表示させている社員IDとイコールまたは、is_adminがtrueの時表示させる-->
  <% if @staffs.id == current_staff.id || current_staff.is_admin?%>
  <div class ="row mt-3 d-flex justify-content-center">
    <%= link_to "社員情報編集" ,edit_public_staff_path ,class:'btn btn-md btn-success' %>
  </div>
  <% end %>
</div>